<!DOCTYPE html>
<html>
  <head>
    <title><%- webpackConfig.metadata.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="<%- webpackConfig.metadata.baseUrl %>">
    <link rel="icon" href="/favicon.ico">
    <!-- imported CSS are concatenated and added automatically -->
  </head>
  <body aurelia-app="main">    
    <% if (webpackConfig.metadata.ENV === 'development') { %>
    <!-- Webpack Dev Server reload -->
    <script src="/webpack-dev-server.js"></script>
    <% } %>
  </body>
</html>
