.brand {
  height: 80px;
}

.github-badge {
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
  margin: 10px 0 0 10px;
}

/* Minesweeper element */

.minesweeper {
  margin: 20px 0;
}

/* Minesweeper consists of minefield and minefield labels */

.minefield-label {
  color: #E82887;
  border-color: #E82887;
  text-shadow: none;
  background: #FFF;
  -webkit-box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
  font-size: 1.2em;
  border-radius: 4px;
  height: 40px;
  line-height: 40px;
}

.minefield-label-icon {
  height: 40px;
  float: left;
}

.smiley {
  /*height: 40px;
  width: 40px;*/
  height: 36px;
  width: 36px;
  background-image: url('img/smileys_black.png');
  /*background-size: 160px 40px;*/
  background-size: 144px 36px;
  display: inline-block;
}

.smiley-happy { background-position: 0 0; }
/*.smiley-scared { background-position: -40px 0; }
.smiley-cool { background-position: -80px 0; }
.smiley-dead { background-position: -120px 0; }*/
.smiley-scared { background-position: -36px 0; }
.smiley-cool { background-position: -72px 0; }
.smiley-dead { background-position: -108px 0; }

.open .smiley {
  margin: 2px 0 0 2px;
}

.minefield {
  margin-top: 10px;
  -webkit-box-shadow: 0 4px 40px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 4px 40px rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.4);
}

.board__header {
  min-width: 252px;
}

/* Minefield individual squares */

.square {
  display: inline-block;
  width: 28px;
  height: 28px;

  line-height: 28px;
  text-align: center;
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  font-weight: bold;
  font-size: 1.5em;
  color: white;

  vertical-align: top;
}

.square > img {
  vertical-align: baseline;
  width: 24px;
  height: 24px;
}

.closed {
  border-top: 2px solid #FFFFFF;
  border-left: 2px solid #FFFFFF;
  border-bottom: 2px solid #7B7B7B;
  border-right: 2px solid #7B7B7B;
  background-color: #BDBDBD;
}

.open {
  border-top: 2px solid #7B7B7B;
  border-left: 2px solid #7B7B7B;
  border-bottom: 2px solid #BDBDBD;
  border-right: 2px solid #BDBDBD;
  background-color: #BDBDBD; /*#6495ED;*/
}

.game-over {
  background-color: #FF0000;
}

.color-0 { color: #C0C0C0; }
.color-1 { color: #0100FE; }
.color-2 { color: #017F01; }
.color-3 { color: #FE0000; }
.color-4 { color: #010080; }
.color-5 { color: #810102; }
.color-6 { color: #008081; }
.color-7 { color: #000000; }
.color-8 { color: #808080; }


/* Highscores */

.highscores {
  background: #FFFFFF;
  padding: 0 0 20px 0;
  margin: 1%;
  /*margin-bottom: 0;*/

  transition: all 5s ease-in-out;
}

.highscores-header {
  color: #EA2988;
}

.highscores-border {
  border: 1px solid #DADADA;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.10);
  border-radius: 4px;
}

.user-flag {
  margin: 0 1%;
  max-width: 24px;
}

/* Settings */

.settings__input {
  width: 100%;
}
