/* Minesweeper consists of minefield and minefield labels */

.label {
  color: #E82887;
  border-color: #E82887;
  text-shadow: none;
  background: #FFFFFF;
  -webkit-box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
  font-size: 1.2em;
  border-radius: 4px;
  height: 40px;
  line-height: 40px;
}

.label__icon {
  height: 40px;
  float: left;
}

.smiley {
  height: 36px;
  width: 36px;
  background-image: url('../../img/smileys_black.png');
  background-size: 144px 36px;
  display: inline-block;
}

.smiley--happy { background-position: 0 0; }
.smiley--scared { background-position: -36px 0; }
.smiley--cool { background-position: -72px 0; }
.smiley--dead { background-position: -108px 0; }

.square--open .smiley {
  margin: 2px 0 0 2px;
}

.minefield {  
  -webkit-box-shadow: 0 4px 40px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 4px 40px rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.4);
  display: table;
  margin: 10px auto auto auto;
}

.board__header {
  min-width: 252px;
}

/* Minefield individual squares */

.square {
  display: inline-block;
  width: 28px;
  height: 28px;
  line-height: 28px;

  text-align: center;
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  font-weight: bold;
  font-size: 1.5em;
  color: white;

  vertical-align: top;
}

.square__image {
  vertical-align: baseline;
  width: 24px;
  height: 24px;
}

.square--closed {
  border-top: 2px solid #FFFFFF;
  border-left: 2px solid #FFFFFF;
  border-bottom: 2px solid #7B7B7B;
  border-right: 2px solid #7B7B7B;
  background-color: #BDBDBD;
}

.square--open {
  border-top: 2px solid #7B7B7B;
  border-left: 2px solid #7B7B7B;
  border-bottom: 2px solid #BDBDBD;
  border-right: 2px solid #BDBDBD;
  background-color: #BDBDBD;
}

.game-over { background-color: #FF0000; }

.color-0 { color: #C0C0C0; }
.color-1 { color: #0100FE; }
.color-2 { color: #017F01; }
.color-3 { color: #FE0000; }
.color-4 { color: #010080; }
.color-5 { color: #810102; }
.color-6 { color: #008081; }
.color-7 { color: #000000; }
.color-8 { color: #808080; }
