<template>
  <require from="../utility/sort"></require>
  <require from="../utility/take"></require>
  <require from="./leaderboard.css"></require>
  <require from="./tweet"></require>

  <!-- Highscore submission -->
  <div class="row highscores__container" if.bind="activeSubmission" keydown.delegate="onSubmissionKeydown(activeSubmission, $event)">
    <div class="columns highscores__submission highscores__border">
      <div class="row">
        <div class="small-11 columns">
          <h4 class="highscores__emphasized inline-block">
            <span class="highscores__header">Congratulations!</span>
            <span class="weight-normal">You beat</span>
            #aurelia-minesweeper
            <span class="weight-normal">in</span>
            ${activeSubmission.time} seconds
            <span class="weight-normal">on</span>
            ${activeSubmission.settings.name} mode<span class="weight-normal">!&nbsp;</span>
            <tweet class="inline-block" text.bind="submissionText" hashtags="aurelia-minesweeper" />
         </h4>
        </div>
        <div class="small-1 columns">
          <h4 class="float-right submission__close" click.delegate="closeSubmission()">X</h4>
        </div>
      </div>
      <div if.bind="activeSubmission.isHighscore" class="row">
        <div class="columns">
          <span if.bind="!activeSubmission.isSubmitted">
            <input type="text"
                   class="submission__name ${activeSubmission.isInvalid ? 'submission__name--invalid' : ''}"
                   value.bind="activeSubmission.name"
                   placeholder="Enter name" maxlength="24" />
            <button class="submission__button" click.delegate="submit(activeSubmission)">Submit</button>
          </span>
          <span if.bind="activeSubmission.isSubmitted">Highscore successfully submitted!</span>
          <br><br>
        </div>
      </div>
    </div>
  </div>

  <!-- Highscore categories -->
  <div class="row medium-unstack">
    <div class="columns highscores__container" repeat.for="category of categories">
      <div class="highscores__category highscores__border">
        <h4 class="highscores__header">${category.name}</h4>
        <div class="row" repeat.for="entry of leaderboard.all[category.difficulty] | sort:'time':'ascending' | take:10">
          <div class="small-1 columns">${$index + 1}.</div>
          <div class="small-9 columns">
            ${entry.name}
            <img class="submission__flag highscores__border" if.bind="entry.country" src="img/flag/${entry.country}.png">
          </div>
          <div class="small-2 columns text-right">${entry.time}</div>
        </div>
        <div class="row" if.bind="leaderboard[category.difficulties].length === 0">
          <div class="columns">Nothing to show here.</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Misc info -->
  <div class="row" if.bind="isUsingLocalStorage">
    <h5 class="columns">Highscores are stored in local storage!</h5>
  </div>
</template>
