.settings__input {
  width: 100%;
  border: 2px solid #D0D0D0;
  border-radius: 3px;
}

.settings__button {
  background-color: #F5F5F5; /* #BDBDBD;*/
  color: #444444;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  padding: 0 14px;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
}

.settings__button:hover {
  background-color: #DDDDDD;
}
