.section__header {
  height: 80px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 4px rgba(0,0,0,.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
  position: relative;
}

.section__settings {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 4px rgba(0,0,0,.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), inset 0 -2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  max-height: 0;
  overflow-y: hidden;
}

.section__gameboard {
  margin: 0 auto;
  padding: 20px 0;

  text-align: center;

  background-image: -webkit-gradient(linear, top, from(#6E4D9B), to(#E82887));
  background-image: -webkit-linear-gradient(top, #6E4D9B, #E82887);
  background-image: -moz-linear-gradient(top, #6E4D9B, #E82887);
  background-image: linear-gradient(to top, #6E4D9B, #E82887);
}

.section__leaderboard {
}

.brand {
  height: 80px;
}

.github-button {
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
  margin: 10px 0 0 10px;
}

/* CSS3-Animations */

.slide {
  max-height: 170px;
  padding: 10px 0;
}

.slide-add {
  -webkit-animation: slide-in 0.5s;
  animation: slide-in 0.5s;
}

.slide-remove {
  -webkit-animation: slide-out 0.5s;
  animation: slide-out 0.5s;
}

@-webkit-keyframes slide-in {
    0%   { max-height: 0; padding: 0; }
    100% { max-height: 170px; padding: 10px 0; }
}

@keyframes slide-in {
    0%   { max-height: 0; padding: 0; }
    100% { max-height: 170px; padding: 10px 0; }
}

@-webkit-keyframes slide-out {
    0%   { max-height: 170px; padding: 10px 0; }
    100% { max-height: 0; padding: 0; }
}

@keyframes slide-out {
    0%   { max-height: 170px; padding: 10px 0; }
    100% { max-height: 0; padding: 0; }
}
